{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% translate "Profile" %} | {{ block.super }}
{% endblock %}
{% block content %}
  {% translate "Profile" as page_title %}
  <nav class="breadcrumbs">
    <p>
      <a>{{ page_title }}</a>
    </p>
  </nav>

  <h1 class="h1">
    {{ page_title }}
  </h1>
  <dl>
    <dt>
      {% translate "Username" %}
    </dt>
    <dd>
      {{ user.username }}
    </dd>
    <dt>
      {% translate "Email" %}
    </dt>
    <dd>
      {{ user.email }}
    </dd>
    <dt>
      {% translate "Locale" %}
    </dt>
    <dd>
      {{ profile.get_locale_display }}
    </dd>
    <dt>
      {% translate "Last login" %}
    </dt>
    <dd>
      {{ user.last_login }}
    </dd>
    <dt>
      {% translate "Date joined" %}
    </dt>
    <dd>
      {{ user.date_joined }}
    </dd>
  </dl>
  <p class="paragraph u-mt">
    <a href="{% url 'account:edit_profile' %}">
      {% translate "Edit profile" %}
    </a>
  </p>
  <p class="paragraph u-mt-small">
    <a href="{% url 'password_change' %}">
      {% translate "Change password" %}
    </a>
  </p>
{% endblock %}
