{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Downloads" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a>{% translate "Downloads" %}</a>
    </p>
  </nav>

  <h1 class="h1">
    {% translate "Downloads" %}
  </h1>

  <table>
    <thead>
      <tr>
        <th>{% translate "Filename" %}</th>
        <th>{% translate "Type" %}</th>
        <th>{% translate "Size" %}</th>
        <th>{% translate "Last modified" %}</th>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>
            <a href="{% url 'downloads:download_file' file.filename %}">{{ file.filename }}</a>
          </td>
          <td>
            {{ file.type }}
          </td>
          <td>
            {{ file.size|filesizeformat }}
          </td>
          <td>
            {{ file.modified|date:"SHORT_DATE_FORMAT" }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
