.progress-bar {
  font-size: var(--font-size-small);
  line-height: var(--line-height);
  position: relative;
}

.progress-bar__label {
  position: absolute;
}

.progress-bar__bar {
  display: block;
  height: var(--base-unit);
  width: 100%;
}

.progress-bar__bar,
.progress-bar__bar::-webkit-progress-bar {
  background-color: #eee;
  border: none;
}

.progress-bar__bar::-webkit-progress-value,
.progress-bar__bar::-moz-progress-bar {
  background-color: var(--bar-color);
}
