.site-header {
  background-color: var(--primary-color);
  box-sizing: border-box;
  color: white;
  height: calc(var(--base-unit) * 2);
  padding: 0 calc(var(--base-unit) / 2);
}

.site-header__inner {
  display: flex;
  gap: var(--base-unit);
  height: 100%;
}

.site-header__logo {
  padding: calc(var(--base-unit) / 2) 0;
}

.site-header__logo:link,
.site-header__logo:visited {
  color: white;
  text-decoration: none;
}

.site-header__nav--last {
  margin-left: auto;
}
