{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Upload Jobs" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a>{% translate "Upload Jobs" %}</a>
    </p>
  </nav>

  <h1 class="h1">
    {% translate "Upload Jobs" %}
  </h1>

  <div class="grid-wrapper">
    <ul class="grid grid--upload-job">
      {% for job in upload_jobs %}
        <li class="card card--upload-job">
          <h3 class="card__title">
            {{ job.title }}
          </h3>
          <ul class="card__details u-mt-small">
            <li>{{ job.uploaded_files.count }} files</li>
            <li>{{ job.created_at|date:"SHORT_DATE_FORMAT" }}</li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
