{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% translate "New upload job" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a class="breadcrumbs__link"
         href="{% url 'upload_jobs:index' %}">{% translate "Upload Jobs" %}</a> ▸
      <a>{% translate "New job" %}</a>
    </p>
  </nav>

  <h1 class="h1">{% translate "New upload job" %}</h1>

  <form class="form" method="POST">
    {% csrf_token %}

    {# Files #}
    <div>
      <label for="file-input" class="form__label">
        {% translate "Files" %}*
      </label>
      <div class="control">
        <input
          class="upload-button__input u-mt-1/2"
          type="file"
          name="files"
          id="file-input"
          accept="{{ ACCEPTED_FILES }}"
          multiple
          required
        />
      </div>
    </div>

    {# Title #}
    <div>
      <label for="{{ form.title.id_for_label }}"
             class="form__label">{{ form.title.label }}*</label>
    </div>
    <div>
      {{ form.title|add_class:"form__input" }}
    </div>

    {# Description #}
    <div class="u-mt-small">
      <label for="{{ form.description.id_for_label }}"
             class="form__label">{{ form.description.label }}</label>
    </div>
    <div>
      {{ form.description|add_class:"form__input" }}
    </div>

    {# Language #}
    <div>
      <label for="{{ form.language.id_for_label }}"
             class="form__label">{{ form.language.label }}</label>
    </div>
    <div>
      {{ form.language|add_class:"form__input" }}
    </div>

    {# Option: Make available on platform #}
    <div class="u-mt-small">
      {{ form.make_available_on_platform|add_class:"form__input" }}
      <label for="{{ form.make_available_on_platform.id_for_label }}"
             class="form__label">{{ form.make_available_on_platform.label }}</label>
    </div>

    {# Option: Transcribe #}
    <div>
      {{ form.transcribe|add_class:"form__input" }}
      <label for="{{ form.transcribe.id_for_label }}"
             class="form__label">{{ form.transcribe.label }}</label>
    </div>

    {# Option: Check media files #}
    <div>
      {{ form.check_media_files|add_class:"form__input" }}
      <label for="{{ form.check_media_files.id_for_label }}"
             class="form__label">{{ form.check_media_files.label }}</label>
    </div>

    {# Option: Replace existing files #}
    <div>
      {{ form.replace_existing_files|add_class:"form__input" }}
      <label for="{{ form.replace_existing_files.id_for_label }}"
             class="form__label">{{ form.replace_existing_files.label }}</label>
    </div>

    <div class="u-mt-small">
      <button type="submit" class="form__button">
        {% translate "Submit" %}
      </button>
    </div>
  </form>

  <div id="upload-queue">
  </div>
{% endblock content %}
