{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Upload Jobs" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a>{% translate "Upload Jobs" %}</a>
    </p>
  </nav>

  <h1 class="h1">
    {% translate "Upload Jobs" %}
  </h1>

  {% if upload_jobs %}
    <div class="grid-wrapper">
      <ul class="grid grid--upload-job">
        {% for job in upload_jobs %}
          <li class="card card--upload-job">
            <h3 class="card__title">
              <a class="card__link"
                 href="{% url 'upload_jobs:detail' job.id %}">{{ job.title }}</a>
            </h3>
            <ul class="card__details u-mt-small">
              <li>
                {% blocktranslate count counter=job.uploaded_files.count %}one file{% plural %}{{ counter }} files{% endblocktranslate %}
              </li>
              <li>{{ job.created_at|date:"SHORT_DATE_FORMAT" }}</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p class="u-ll">
      {% translate "There are no upload jobs yet." %}
    </p>
    <p class="u-ll u-mt-small">
      <a href="{% url 'upload_jobs:create' %}">{% translate "Create a new upload job" %}</a>
    </p>
  {% endif %}

{% endblock content %}
