{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% translate "New upload job" %} | {{ block.super }}{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a class="breadcrumbs__link"
         href="{% url 'upload_jobs:index' %}">{% translate "Upload Jobs" %}</a> ▸
      <a>{% translate "New job" %}</a>
    </p>
  </nav>

  <h1 class="h1">{% translate "New upload job" %}</h1>

  <div id="upload-job-form" data-csrf-token="">
  </div>
{% endblock content %}
