aiofiles==24.1.0
celery==5.4.0
django_vite_plugin==3.0.4
django-dotenv==1.4.2
django-htmx==1.21.0
django-json-widget==2.0.1
django-storages==1.14.4
django-widget-tweaks==1.5.0
django==5.1.4
gunicorn==23.0.0
Hypercorn==0.17.3
mysqlclient==2.2.6
redis==5.2.0
sentry-sdk[django]==2.19.0
