/* 1: The default. */
.u-mt { margin-top: 1rlh !important; }
.u-mr { margin-right: 1rlh !important; }
.u-mb { margin-bottom: 1rlh !important; }
.u-ml { margin-left: 1rlh !important; }

/* 1/2 */
.u-mt-1\/2 { margin-top: 0.5rlh !important; }
.u-mr-1\/2 { margin-right: 0.5rlh !important; }
.u-mb-1\/2 { margin-bottom: 0.5rlh !important; }
.u-ml-1\/2 { margin-left: 0.5rlh !important; }

/* 1/4 */
.u-mt-1\/4 { margin-top: 0.25rlh !important; }
.u-mr-1\/4 { margin-right: 0.25rlh !important; }
.u-mb-1\/4 { margin-bottom: 0.25rlh !important; }
.u-ml-1\/4 { margin-left: 0.25rlh !important; }

/* 2 */
.u-mt-2 { margin-top: 2rlh !important; }
.u-mr-2 { margin-right: 2rlh !important; }
.u-mb-2 { margin-bottom: 2rlh !important; }
.u-ml-2 { margin-left: 2rlh !important; }

/* 4 */
.u-mt-4 { margin-top: 4rlh !important; }
.u-mr-4 { margin-right: 4rlh !important; }
.u-mb-4 { margin-bottom: 4rlh !important; }
.u-ml-4 { margin-left: 4rlh !important; }

/* 0 */
.u-mt-0 { margin-top: 0 !important; }
.u-mr-0 { margin-right: 0 !important; }
.u-mb-0 { margin-bottom: 0 !important; }
.u-ml-0 { margin-left: 0 !important; }
