.icon {
  fill: currentColor;
  height: var(--base-unit);
  padding: calc(var(--base-unit) / 8);
  stroke: currentColor;
  width: var(--base-unit);
}

.icon--ok {
  color: var(--ok-color);
}

.icon--warning {
  color: var(--warning-color);
}

.icon--danger {
  color: var(--danger-color);
}
