.primary-nav {
  display: flex;
}

.primary-nav__link {
  background-color: var(--primary-color);
  padding: calc(var(--base-unit) / 2);
  user-select: none;
  transition: background-color var(--transition-duration);
}

.primary-nav__link--nth {
  display: none;
}

.primary-nav__link:link,
.primary-nav__link:visited {
  color: white;
  text-decoration: none;
}

.primary-nav__link.router-link-active {
  background-color: var(--header-active-color);
}

.primary-nav__profile {
  display: flex;
}

@media screen and (min-width: 40rem) {
  /* nth - nice to have; does not have to
    * be shown on mobile devices. */
  .primary-nav__link--nth {
    display: initial;
  }
}
