.u-mt {
  margin-top: 1rlh !important;
}
.u-mr {
  margin-right: 1rlh !important;
}
.u-mb {
  margin-bottom: 1rlh !important;
}
.u-ml {
  margin-left: 1rlh !important;
}

.u-mt-small {
  margin-top: 0.5rlh !important;
}
.u-mr-small {
  margin-right: 0.5rlh !important;
}
.u-mb-small {
  margin-bottom: 0.5rlh !important;
}
.u-ml-small {
  margin-left: 0.5rlh !important;
}

.u-mt-tiny {
  margin-top: 0.25rlh !important;
}
.u-mr-tiny {
  margin-right: 0.25rlh !important;
}
.u-mb-tiny {
  margin-bottom: 0.25rlh !important;
}
.u-ml-tiny {
  margin-left: 0.25rlh !important;
}

.u-mt-large {
  margin-top: 2rlh !important;
}
.u-mr-large {
  margin-right: 2rlh !important;
}
.u-mb-large {
  margin-bottom: 2rlh !important;
}
.u-ml-large {
  margin-left: 2rlh !important;
}

.u-mt-huge {
  margin-top: 4rlh !important;
}
.u-mr-huge {
  margin-right: 4rlh !important;
}
.u-mb-huge {
  margin-bottom: 4rlh !important;
}
.u-ml-huge {
  margin-left: 4rlh !important;
}

.u-mt-none {
  margin-top: 0 !important;
}
.u-mr-none {
  margin-right: 0 !important;
}
.u-mb-none {
  margin-bottom: 0 !important;
}
.u-ml-none {
  margin-left: 0 !important;
}

.u-ml-auto {
  margin-left: auto !important;
}

.u-flex {
  display: flex !important;
}

.u-align-left {
  text-align: left !important;
}
.u-align-center {
  text-align: center !important;
}
.u-align-right {
  text-align: right !important;
}

.u-font-italic {
  font-style: italic !important;
}
.u-font-serif {
  font-family: var(--font-stack-serif) !important;
}
.u-font-large {
  font-size: var(--font-size-large) !important;
}

.u-ll {
  max-width: var(--line-length) !important;
}
