.u-mt { margin-top:    var(--base-unit) !important; }
.u-mr { margin-right:  var(--base-unit) !important; }
.u-mb { margin-bottom: var(--base-unit) !important; }
.u-ml { margin-left:   var(--base-unit) !important; }

.u-mt-small { margin-top:    calc(var(--base-unit) / 2) !important; }
.u-mr-small { margin-right:  calc(var(--base-unit) / 2) !important; }
.u-mb-small { margin-bottom: calc(var(--base-unit) / 2) !important; }
.u-ml-small { margin-left:   calc(var(--base-unit) / 2) !important; }

.u-mt-large { margin-top:    calc(var(--base-unit) * 2) !important; }
.u-mr-large { margin-right:  calc(var(--base-unit) * 2) !important; }
.u-mb-large { margin-bottom: calc(var(--base-unit) * 2) !important; }
.u-ml-large { margin-left:   calc(var(--base-unit) * 2) !important; }

.u-mt-none { margin-top:    0 !important; }
.u-mr-none { margin-right:  0 !important; }
.u-mb-none { margin-bottom: 0 !important; }
.u-ml-none { margin-left:   0 !important; }

.u-ml-auto { margin-left: auto !important; }

.u-flex { display: flex !important; }

.u-align-left { text-align: left !important; }
.u-align-center { text-align: center !important; }
.u-align-right { text-align: right !important; }

.u-font-italic { font-style: italic !important; }
.u-font-serif { font-family: var(--font-stack-serif) !important; }
.u-font-large { font-size: var(--font-size-large) !important; }

.u-ll { max-width: var(--line-length) !important; }
